@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.container { 
  padding-top: 10px;
  background-color: beige;
  overflow: hidden;
}

h1 { 
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

h1::first-letter { text-transform: capitalize; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.box-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.box { 
  min-width: 50%;
  min-height: 60px;
  border-radius: 5px;
  background-color: #50a5eb;
  color: #ffff;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  transform: translateX(200%);
  transition: transform 0.4s ease;
}

.box-container li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container li:nth-of-type(1) {
  animation-name: first;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes first {
  0% {
  transform: translatex(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.box-container li:nth-of-type(2) {
  animation-name: second;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes second {
  0% {
  transform: translatex(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.box:nth-of-type(even) { transform: translateX(-200%); }

.box.show { transform: translateX(0); }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
.box {
  min-width: 50%;
  min-height: 60px
}


}  


/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
.box {
  min-width: 30%;
  min-height: 70px;
}
}  

@media only screen and (min-width: 995px) {
.box {
  min-width: 25%;
  min-height: 80px;
  font-size: 21px;
}
} 

/*media query for 768px starts here*/
@media only screen and (min-width: 1024px) {
.box { 
  min-width: 41%;
  min-height:  150px;
  font-size: 30px;
}


}  